<footer class="site-footer">
  {{ with site.GetPage "privacy.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  </p>
  {{ end }}
  <a href="https://www.ocf.berkeley.edu">
    <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
        alt="Hosted by the OCF" text = "We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site." style="border: 0;" />
  </a>
  <p> We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.</p>
</footer>
